*.retry
.vagrant/
hosts
*.log
kubernetes/provisioning/join-command
kubernetes/config
kubernetes/kubeconfig
kubernetes-debian/provisioning/join-command
kubernetes-debian/config
kubernetes-debian/kubeconfig
